.footer {
  &__container {
  }

  &__upper {
    padding: 20px 0;
  }

  &__icon {
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    opacity: .7;

    @media screen and (max-width: 767px) {
      height: 40px;
    }
  }
}