@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

h1 {
  font-weight: 900 !important;
  text-transform: uppercase;
  margin: 0 !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin: 0 !important;
}